@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

.Navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 45px;
  justify-content: flex-end;
  background: bisque;
}

.Navbar li {
  padding: 10px 15px;
}

.Navbar a {
  text-decoration: none;
  color: black;
}

.Footer {
  font-size: .7em;
  text-align: center;
  height: 15px;
}

.Footer a {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

main {
  text-align: center;
  min-height: calc(100vh - 70px);
}

.Home {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./background.jpg');
  background-size: cover;
  color: white;
}

.Home p {
  max-width: 1000px;
  margin: 10px;
}

.Home h1 {
  font-size: 4em;
}

.Shop {
  display: flex;
  width: 95vw;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
}

.itemImage {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.Item {
  width: 300px;
  min-height: 400px;
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}

.Item a {
  text-decoration: none;
  color: black;
}

.Item h2 {
  font-size: 1.1em;
}

.category {
  padding: 5px;
  background: lightblue;
  border-radius: 5px;
  font-size: .8em;
  margin: 5px;
}

.price {
  font-size: 1.2em;
  margin: 10px;
}

.ItemDetails {
  width: 80%;
  margin: auto;
  text-align: center;
}

.itemDetailsImage {
  object-fit: contain;
  width: 300px;
  height: 300px;
}

.itemDetailsCategory {
  padding: 5px;
  background: lightblue;
  border-radius: 5px;
  font-size: .8em;
  width: 30%;
  margin: 20px auto;
}

.Cart h1 {
  margin: 0;
  padding: 20px;
}

.CartItem {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  width: 80%;
  max-width: 1000px;
  border: 1px solid black;
  margin: 10px auto;
  align-items: center;
  padding: 10px;
  min-width: 250px;
}

.CartItemTitle a {
  text-decoration: none;
  color: black;
}

.CartItemTitle {
  text-align: left;
  margin-left: 20px;
}

.CartItemImage {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.CartItemCountBtn {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 10px;
  cursor: pointer;
}

.CartPrice {
  text-align: center;
}

.CartTotal {
  font-size: 2em;
  width: 80%;
  min-width: 250px;
  max-width: 1000px;
  text-align: right;
  padding: 10px;
  margin: auto;
}

.Payment {
  margin: 20px auto;
  padding: 20px;
  font-size: 1.2em;
  border-radius: 15px;
  cursor: pointer;
}

.addToCart {
  cursor: pointer;
  padding: 5px;
  margin: 10px;
}
